.readButton {
    padding-left: 1.1rem !important;
}

.lockedEntry {
    width: 49.5% !important;
    background-color: rgb(49, 44, 44) !important;
    cursor: not-allowed;
}

.lockedWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1vh;
}

.bottomHalf {
    padding-top: .5rem !important;
}